*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color: #FF900E;
}

.primary-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* header style */
header{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

/* navbar section style */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding-top: 30px;
}

.site-name h3{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.nav-function ul{
    display: flex;
}
.nav-function ul li, a{
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    padding-right: 20px;
}
.nav-function a:hover{
    color: var(--primary-color);
}

/* head-text section style */
.banner-text{
    text-align: center;
}

.banner-text h3{
    margin-top: 100px;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-text p{
    color: #727272;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* banner-img style */
.banner-img {
    margin-top: 50px;
    text-align: center;
    filter: none;
}
.banner-img:hover{
    filter: grayscale(100%);
}


/* features section style */
.features{
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 80px 100px;
}
.features-img{
    width: 342px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-text{
    width: 537px;
}
.features-text h3{
    font-weight: 400;
    font-size: 45px;
    color: #727272;
}
.features-text span{
    font-weight: 600;
    color: var(--primary-color);
}
.features-text span:hover{
    color: #424242;
}
.features-text p{
    color: #727272;
    margin: 25px 0;
}